<div>
    <h2 id="page-heading">
        <span>Espacio Comuns</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-espacio-comun" [routerLink]="['/espacio-comun/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Espacio Comun
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="espacioComuns?.length === 0">
        <span>No espacioComuns found</span>
    </div>
    <div class="table-responsive" *ngIf="espacioComuns?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Nombre Espacio Comun</span></th>
            <th><span>Disponibilidad Desde</span></th>
            <th><span>Disponibilidad Hasta</span></th>
            <th><span>Foto Espacio Comun</span></th>
            <th><span>Hora Desde</span></th>
            <th><span>Hora Hasta</span></th>
            <th><span>Espacio Barrio</span></th>
            <th><span>Espacio Tipo</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let espacioComun of espacioComuns ;trackBy: trackId">
                <td><a [routerLink]="['/espacio-comun', espacioComun.id, 'view' ]">{{espacioComun.id}}</a></td>
                <td>{{espacioComun.nombreEspacioComun}}</td>
                <td>{{espacioComun.disponibilidadDesde | date:'medium'}}</td>
                <td>{{espacioComun.disponibilidadHasta | date:'medium'}}</td>
                <td>
                    <a *ngIf="espacioComun.fotoEspacioComun" (click)="openFile(espacioComun.fotoEspacioComunContentType, espacioComun.fotoEspacioComun)">
                        <img [src]="'data:' + espacioComun.fotoEspacioComunContentType + ';base64,' + espacioComun.fotoEspacioComun" style="max-height: 30px;" alt="espacioComun image"/>
                    </a>
                    <span *ngIf="espacioComun.fotoEspacioComun">{{espacioComun.fotoEspacioComunContentType}}, {{byteSize(espacioComun.fotoEspacioComun)}}</span>
                </td>
                <td>{{espacioComun.horaDesde | date:'medium'}}</td>
                <td>{{espacioComun.horaHasta | date:'medium'}}</td>
                <td>
                    <div *ngIf="espacioComun.espacioBarrio">
                        <a [routerLink]="['/barrio', espacioComun.espacioBarrio?.id, 'view' ]" >{{espacioComun.espacioBarrio?.id}}</a>
                    </div>
                </td>
                <td>
                    <span *ngFor="let espacioTipo of espacioComun.espacioTipos; let last = last">
                            <a class="form-control-static" [routerLink]="['/periodo-espacio-comun', espacioTipo?.id, 'view' ]">{{espacioTipo.id}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/espacio-comun', espacioComun.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/espacio-comun', espacioComun.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/espacio-comun', { outlets: { popup: espacioComun.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
