<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="barrio">
            <h2><span>Barrio</span> {{barrio.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Nombre Barrio</span></dt>
                <dd>
                    <span>{{barrio.nombreBarrio}}</span>
                </dd>
                <dt><span>Cuit Barrio</span></dt>
                <dd>
                    <span>{{barrio.cuitBarrio}}</span>
                </dd>
                <dt><span>Barrio Norma</span></dt>
                <dd>
                    <div *ngIf="barrio.barrioNorma">
                        <a [routerLink]="['/norma-barrio', barrio.barrioNorma?.id, 'view']">{{barrio.barrioNorma?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/barrio', barrio.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
