<div>
    <h2 id="page-heading">
        <span>Norma Barrios</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-norma-barrio" [routerLink]="['/norma-barrio/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Norma Barrio
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="normaBarrios?.length === 0">
        <span>No normaBarrios found</span>
    </div>
    <div class="table-responsive" *ngIf="normaBarrios?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Titulonorma</span></th>
            <th><span>Descripcionnorma</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let normaBarrio of normaBarrios ;trackBy: trackId">
                <td><a [routerLink]="['/norma-barrio', normaBarrio.id, 'view' ]">{{normaBarrio.id}}</a></td>
                <td>{{normaBarrio.titulonorma}}</td>
                <td>{{normaBarrio.descripcionnorma}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/norma-barrio', normaBarrio.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/norma-barrio', normaBarrio.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/norma-barrio', { outlets: { popup: normaBarrio.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
