<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-carnet-de-conducir-heading">Create or edit a Carnet De Conducir</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_categoria">Categoria</label>
                    <input type="text" class="form-control" name="categoria" id="field_categoria"
                           formControlName="categoria"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_fechaOtorgamiento">Fecha Otorgamiento</label>
                    <div class="d-flex">
                        <input id="field_fechaOtorgamiento" type="datetime-local" class="form-control" name="fechaOtorgamiento" formControlName="fechaOtorgamiento" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_fechaVencimiento">Fecha Vencimiento</label>
                    <div class="d-flex">
                        <input id="field_fechaVencimiento" type="datetime-local" class="form-control" name="fechaVencimiento" formControlName="fechaVencimiento" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_carnetPersona">Carnet Persona</label>
                    <select class="form-control" id="field_carnetPersona" name="carnetPersona" formControlName="carnetPersona">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="personaOption.id === editForm.get('carnetPersona').value?.id ? editForm.get('carnetPersona').value : personaOption" *ngFor="let personaOption of personas; trackBy: trackPersonaById">{{personaOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
