<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="novedades">
            <h2><span>Novedades</span> {{novedades.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Fecha</span></dt>
                <dd>
                    <span>{{novedades.fecha}}</span>
                </dd>
                <dt><span>Descripcion</span></dt>
                <dd>
                    <span>{{novedades.descripcion}}</span>
                </dd>
                <dt><span>Creada</span></dt>
                <dd>
                    {{novedades.creada?.id}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/novedades', novedades.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
