<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-lista-amigos-heading">Create or edit a Lista Amigos</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_nombreListaAmigos">Nombre Lista Amigos</label>
                    <input type="text" class="form-control" name="nombreListaAmigos" id="field_nombreListaAmigos"
                           formControlName="nombreListaAmigos"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_pertenece">Pertenece</label>
                    <select class="form-control" id="field_pertenece" name="pertenece" formControlName="pertenece">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="personaOption.id === editForm.get('pertenece').value?.id ? editForm.get('pertenece').value : personaOption" *ngFor="let personaOption of personas; trackBy: trackPersonaById">{{personaOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="field_amigos">Amigos</label>
                    <select class="form-control" id="field_amigos" multiple name="amigos" formControlName="amigos">
                        <option [ngValue]="getSelected(editForm.get('amigos').value, personaOption)" *ngFor="let personaOption of personas; trackBy: trackPersonaById">{{personaOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
