<div>
    <h2 id="page-heading">
        <span>Lista Amigos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-lista-amigos" [routerLink]="['/lista-amigos/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Lista Amigos
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="listaAmigos?.length === 0">
        <span>No listaAmigos found</span>
    </div>
    <div class="table-responsive" *ngIf="listaAmigos?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Nombre Lista Amigos</span></th>
            <th><span>Pertenece</span></th>
            <th><span>Amigos</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let listaAmigos of listaAmigos ;trackBy: trackId">
                <td><a [routerLink]="['/lista-amigos', listaAmigos.id, 'view' ]">{{listaAmigos.id}}</a></td>
                <td>{{listaAmigos.nombreListaAmigos}}</td>
                <td>
                    <div *ngIf="listaAmigos.pertenece">
                        <a [routerLink]="['/persona', listaAmigos.pertenece?.id, 'view' ]" >{{listaAmigos.pertenece?.id}}</a>
                    </div>
                </td>
                <td>
                    <span *ngFor="let amigos of listaAmigos.amigos; let last = last">
                            <a class="form-control-static" [routerLink]="['/persona', amigos?.id, 'view' ]">{{amigos.id}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/lista-amigos', listaAmigos.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/lista-amigos', listaAmigos.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/lista-amigos', { outlets: { popup: listaAmigos.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
