<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="listaAmigos">
            <h2><span>Lista Amigos</span> {{listaAmigos.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Nombre Lista Amigos</span></dt>
                <dd>
                    <span>{{listaAmigos.nombreListaAmigos}}</span>
                </dd>
                <dt><span>Pertenece</span></dt>
                <dd>
                    <div *ngIf="listaAmigos.pertenece">
                        <a [routerLink]="['/persona', listaAmigos.pertenece?.id, 'view']">{{listaAmigos.pertenece?.id}}</a>
                    </div>
                </dd>
                <dt><span>Amigos</span></dt>
                <dd>
                    <span *ngFor="let amigos of listaAmigos.amigos; let last = last">
                        <a [routerLink]="['/persona', amigos?.id, 'view' ]">{{amigos.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/lista-amigos', listaAmigos.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
